*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #319095;
}
.login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color:azure;
    height: 64vh;
    width: 30%;
    margin-left:34.5rem;
    margin-top: 6rem;
    border: 2px solid rgb(75, 74, 74);
    border-radius: 13px;
}
.form{
    text-align: center;
    height: 60vh;
    padding: 3rem;
    
}
input{
    width: 15rem;
    text-align: center;
    padding: 0.3rem;
    border: 2px solid gray;
    border-radius: 5px;
}
.heading{
    padding: 2rem;
    font-family: math;
    font-size: x-large;
}
h3{
    padding: 2rem;
}
.form-group{
    padding: 0.5rem;
}
.btn{
    padding: 0.3rem;
    border-radius:11px;
    background-color: rgb(24, 212, 24);
}
.form button:hover{
    cursor: pointer;
    background-color: rgb(15, 155, 15);
}